.dark-theme {
    ion-content {
      --ion-background-color: #121212;
      color: #ffffff;
    }
  
    ion-toolbar {
      --ion-background-color: #333333;
      color: #e20505;
    }
  
    ion-button {
      --color: #ffffff;
    }
  }
  